#chat-section {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.chat-light {
	background: var(--l2);
	color: var(--l3);
	border-left: 5px solid var(--l1);
}

.chat-dark {
	background: var(--d2);
	color: var(--d3);
	border-left: 5px solid var(--d1);
}

/** close button in chat **/
.close-chat {
	display: block;
	flex: 0.1;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 32px;
	width: 32px;
	margin: 10px;
	border-radius: 5px;
	text-align: center;
}

.close-chat i {
	vertical-align: middle;
}

.close-chat-light {
	color: var(--l1);
	transition: 0.3s;
}

.close-chat-light:hover {
	color: var(--l2);
	background: var(--l1);
}

.close-chat-dark {
	color: var(--d1);
}

.close-chat-dark:hover {
	color: var(--d2);
	background: var(--d1);
}

/** input username for messages **/
#username-input {
	flex: 0.04;
	margin: 1rem;
	border-radius: 4px;
	background: transparent;
	font-weight: bold;
}

.username-input-light {
	border: 3px solid var(--l1);
	color: var(--l3);
}

.username-input-dark {
	border: 3px solid var(--d1);
	color: var(--d3);
}


/** messages section **/
.messages-section {
	flex: 0.9;
}

.message-list {
	list-style: none;
	padding: 0 1rem;
}

.single-message {
	margin: 0.3rem 0;
}


/** message input **/
#user-message {
	flex: 0.06;
	margin: 1rem;
	border-radius: 4px;
	background: transparent;
}

/** change placeholder color of inputs based on theme **/
.username-input-dark::placeholder {
	color: silver;
}

.username-input-light::placeholder {
	color: gray;
}

