#error-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.error-root-dark {
	color: var(--d3);
	background: var(--d2);
}

.error-root-light {
	color: var(--l3);
	background: var(--l2);
}

/** button **/

#error-theme-button {
	flex: 0.1;
}

/** card info **/
#error-card {
	flex: 0.9;
	align-self: center;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

/** the text in error **/
.error-text {
	padding: 1.5rem;
	margin-bottom: 10rem;
}

.error-dark {
	box-shadow: 0 0 0px 5px var(--d1);
}

.error-light{
	box-shadow: 0 0 0px 5px var(--l1);
}

